In [11]:
orders = [['apple', 10],['banana', 5], ['cherry',7],['dragon',10],['grapes',9]]
for each in orders:
    if each[1] == 10:
        each[0] = "apple"
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 7], ['apple', 10], ['grapes', 9]]

In [17]:
orders = [['apple', 10], ['banana', 5], ['cherry', 7], ['apple', 6], ['grapes', 9]]
orders.append(["apple",15])
print(orders)

total = []
for each_item in orders:
    total.append(each_item[1])
print(total)
print(sum(total))

[['apple', 10], ['banana', 5], ['cherry', 7], ['apple', 6], ['grapes', 9], ['apple', 15]]
[10, 5, 7, 6, 9, 15]
52

In [23]:
tup1 = (4,5,6-8j,"anu",27.7,True)
print(tup1)
print(type(tup1))

(4, 5, (6-8j), 'anu', 27.7, True)
<class 'tuple'>

In [37]:
tup1[2:-1]

((6-8j), 'anu', 27.7)

In [39]:
tup1.index(6-8j)

2

In [43]:
tup2 = (2,3,4,5,4,6,7,4,9)
tup2.count(4)

3

In [1]:
#dictionaries 
scores = {"gowtham" : 99,
          "shashi" : 0,
          "virat" : 100,
          "Dinesh karthik" : 108,
         }
print(scores)

{'gowtham': 99, 'shashi': 0, 'virat': 100, 'Dinesh karthik': 108}

In [13]:
scores["gokul"] = 88
scores

{'gowtham': 99,
 'shashi': 67,
 'virat': 100,
 'Dinesh karthik': 108,
 'gokul': 88,
 'shahsi': 67}

In [15]:
scores.update({"gowtham" : 56})
scores

{'gowtham': 56,
 'shashi': 67,
 'virat': 100,
 'Dinesh karthik': 108,
 'gokul': 88,
 'shahsi': 67}

In [17]:
scores.update({"virat" : 118, "Dinesh karthik" : 148})
scores

{'gowtham': 56,
 'shashi': 67,
 'virat': 118,
 'Dinesh karthik': 148,
 'gokul': 88,
 'shahsi': 67}

In [23]:
scores.setdefault("virat",89)
scores

{'gowtham': 56,
 'shashi': 67,
 'virat': 118,
 'Dinesh karthik': 148,
 'gokul': 88,
 'shahsi': 67}

In [25]:
scores.popitem()
scores

{'gowtham': 56, 'shashi': 67, 'virat': 118, 'Dinesh karthik': 148, 'gokul': 88}

In [27]:
scores.pop("gokul")
scores

{'gowtham': 56, 'shashi': 67, 'virat': 118, 'Dinesh karthik': 148}

In [31]:
scores.get("shashi")

67

In [33]:
#use of fromkeys() to create a new dict
list1 = ["A","B","C","D"]
my_dict = dict.fromkeys(list1,10)
my_dict

{'A': 10, 'B': 10, 'C': 10, 'D': 10}

In [37]:
my_dict.update({"A" : 20,"C" : 40})
my_dict

{'A': 20, 'B': 10, 'C': 40, 'D': 10}

In [41]:
# use for loop to update "virat" to 87
for k in scores.keys():
    if k == "virat" :
        scores[k] = 87
scores

{'gowtham': 56, 'shashi': 67, 'virat': 87, 'Dinesh karthik': 148}

In [49]:
#use for to compute total scores
scores_list = []
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score: ", sum(scores_list))

[56, 67, 87, 148]
Total Score:  358

In [3]:
list1  = [1,8,9,0,10,20,78,8,8,8]
s2 = set(list1)
print(s2)
print(type(s2))

{0, 1, 8, 9, 10, 78, 20}
<class 'set'>

In [5]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
# union operation using | operator
s1 = {1,2,3,4}
s2 = {3,4,5,5,6}
s1 | s2

{1, 2, 3, 4, 5, 6}

In [9]:
s1 = {1,2,3,4}
s2 = {1,3,4,5,6}
s1 & s2

{1, 3, 4}

In [15]:
s1 = {1,2,7,3,4}
s2 = {1,4,2}
s1 - s2

{3, 7}

In [17]:
s2 - s1

set()

In [23]:
# symmetric difference
s1 = {1,2,3,4,5,6,7}
s2 = {1,6,7,8,9}
s1.symmetric_difference(s2)

{2, 3, 4, 5, 8, 9}

In [35]:
s1 = {1,2,3,4}
s2 = {2,4}
s2.issubset(s1)

True

In [37]:
s2.issuperset(s1)

False

In [61]:
# Strings
str1 = "gowtham plays cricket"
print(str1)
str2 = 'hahhahah'
print(str2)
str3 = 89
print(str3)

gowtham plays cricket
hahhahah
89

In [51]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'int'>

In [67]:
# slicing in strings
print(str1)
str1[2:10]

gowtham plays cricket

'wtham pl'

In [69]:
# use split 
str1 = "gowtham goes to gym"
print(str1)
str1.split()

gowtham goes to gym

['gowtham', 'goes', 'to', 'gym']

In [75]:
# use join() method
reviews = ["The product is awesome", "great service"]
joined_string = ':'.join(reviews)
joined_string

'The product is awesome:great service'

In [77]:
# use of strip() method
str6 = "    hey, that may you?   "
str6

'    hey, that may you?   '

In [79]:
str6.strip()

'hey, that may you?'

In [87]:
str6.upper()

'    HEY, THAT MAY YOU?   '

In [ ]:
# Example dictionary for product sales analysis
sales_data = {
    "ProductID" : []